table {
    width: 50%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
}
th, td {
    padding: 12px;
}
th {
    background-color: #1E90FF; /* Dodger Blue */
    color: white;
}
tr:nth-child( even ) {
	background:gray;
}